@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.header {
  @include flex(row, flex-end, center, nowrap);
  height: 80px;
  position: fixed;
  z-index: 999;
  padding: 0 30px;
  left: 0;
  right: 0;
  opacity: .9;

  a {
    color: $textColor;
    text-decoration: none;
  }
}