.contactsBlock {
  height: 100vh;
  background-color: #ffd4da;
}

.contactsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  text-transform: capitalize;
  background-color: #dadada;
}

.contacts {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}