@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.nav {
  width: 340px;
  @include flex(row, space-between, center, nowrap);

  a {
    &:hover {
      color: $primaryColor;
      cursor: pointer;
    }

    &.active {
      color: $primaryColor;
    }
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}