.skillsBlock {
  height: 100vh;
  background-color: #b8ffb8;
}

.skillsContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  text-transform: capitalize;
  background-color: #dadada;
}

.skills {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
}