@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.mainBlock {
  height: 100vh;
  background-color: $bgColor;

  .textBlock {
    width: 410px;

    span {
      @include text($textFontFamily, 16px, 1.8);
    }

    h1 {
      @include text($titleFontFamily, 50px, 1.2);
      padding: 10px 0 10px;

      span {
        @include text($titleFontFamily, 50px, 1.2);
        position: relative;
        display: inline-block;
        z-index: 0;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 20px;
          width: 100%;
          z-index: -1;
          background: $primaryColor;
        }
      }
    }

    p {
      @include text($textFontFamily, 27px, 1.2)
    }
  }

  .photo {
    width: 450px;
    height: 450px;
    position: relative;

    .absImg {
      background: url("./../assets/image/my-photo.jpg") center no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      animation: morph 8s ease-in-out infinite 1s;
      background-blend-mode: multiply;
      box-shadow: inset 0 0 0 9px rgba(208, 0, 97, 0.3);
      @keyframes morph {
        0% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50% {
          border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
        100% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
      }
    }
  }
}
