@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.mainBlock {
  height: 100vh;
  padding: 100px 0 750px 0;

  .container {
    @include container();
  }

  .greeting {
    width: 410px;

    @media screen and (max-width: 740px) {
      width: 90%;
    }

    span {
      @include text($textFontFamily, 16px, 1.8);


      &:nth-child(2) {
        @include text($titleFontFamily, 50px, 1.2);
        padding: 10px 0 10px;
        display: inline-block;
        font-weight: 700;

        span {
          @include text($titleFontFamily, 50px, 1.2);
          position: relative;
          display: inline-block;
          z-index: 0;
          font-weight: 700;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 20px;
            width: 100%;
            z-index: -1;
            background: $primaryColor;
          }
        }
      }

      &:nth-child(4) {
        div {
          @include text($textFontFamily, 26px, 1);
          font-weight: 400;
        }

        span {
          font-size: 26px;
          font-weight: 400;
        }
      }
    }

    h1 {
      visibility: hidden;
      position: absolute;
    }

  }

  .photo {
    width: 450px;
    height: 450px;
    position: relative;
    margin-top: 70px;

    @media screen and(max-width: 740px) {
      margin: 15px 0;
      width: 350px;
      height: 350px;
    }

    .absImg {
      background: url("./../assets/image/my-photo.jpg") center no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      animation: morph 8s ease-in-out infinite 1s;
      background-blend-mode: multiply;
      box-shadow: inset 0 0 0 9px rgba(208, 0, 97, 0.3);

      @keyframes morph {
        0% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50% {
          border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
        100% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
      }
    }
  }
}
