@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.btn {
  background-color: $primaryColor;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 150px;
  text-align: center;
  display: inline-block;
  color: $textColor !important;
  font-weight: 600;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
  border: none;
  box-shadow: 0 5px 15px rgb(0, 0, 0 / 15%);
  opacity: 90%;
  position: relative;

  &:hover {
    background-color: $primaryColorOnHover;
  }

  &:active {
    background-color: #690232;
  }
}