.contactForm {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.contactForm input, .contactForm textarea {
  width: 100%;
}

.contactForm input {
  height: 30px;
  margin: 10px 0 0 0;
}

.contactForm textarea {
  height: 150px;
  margin: 10px 0 15px 0;
}