@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';
@import './src/common/components/button/Button.module';

.form {
  @include flex(column, flex-start, stretch, nowrap);
  margin-top: 30px;
  width: 540px;

  @media screen and(max-width: 680px) {
    width: 100%;
  }

  input,
  textarea {
    @include text('Poppins', 14px, 1.2);
    width: 100%;
    border: none;
    background: $bgColor;
    outline: $primaryColor;
    padding: 15px;
  }

  input {
    height: 40px;
    margin: 10px 0 0 0;
  }

  textarea {
    height: 150px;
    margin: 10px 0 15px 0;
    resize: vertical
  }

  button[type="submit"] {
    @extend .btn;
    margin-top: 10px;
    width: 200px;
    align-self: center;
    cursor: pointer;
  }
}