@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.project {
  width: 450px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  position: relative;

  .image {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .4;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2);
      margin-bottom: 15px;
    }

    .description {
      @include text($textFontFamily, 12px, 1.8);
      font-weight: 400;
    }
  }
}