$textColor: #fff;
$primaryColor: #d00061;
$primaryColorOnHover: #a90150;
$bgColor: #1f1f20;
$bgSecondColor: #252527;
$titleFontFamily: 'Josefin Sans', sans serif;
$textFontFamily: 'Poppins', sans serif;