.footer {
  background-color: #dfffb8;
  flex-wrap: nowrap;
  padding: 50px 0;
}

.footerContainer {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 20px 0;
}