.footer {
  background-color: #dfffb8;
  flex-wrap: nowrap;
  padding: 50px 0;
}

.footer h2 {
  background-color: #80ffff;
}

.footerContainer {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 20px 0;
  background-color: #ffd4f0;
}

.footer p {
  background-color: #fce4a6;
}