.projectsBlock {
  height: 100vh;
  background-color: #f1e2ff;
}

.projectsContainer {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  text-transform: capitalize;
  background-color: #dadada;
}

.projects {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}